[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "WETH9/lib/forge-std"]
	path = WETH9/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "UniswapV3Pool_VerifiedByNG/lib/forge-std"]
	path = UniswapV3Pool_VerifiedByNG/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "WBTC/lib/forge-std"]
	path = WBTC/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "USDC/lib/forge-std"]
	path = USDC/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "UniswapV3Pool_WBTC_USDC/lib/forge-std"]
	path = UniswapV3Pool_WBTC_USDC/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
